body {
  margin: 0;
  font-family: Arial, sans-serif;

  background:
    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
    url("bg.jpg") no-repeat center center fixed;

  background-size: cover;
}
